<h1>Stupiiid Answer :</h1>

<p><%= link_to "Ask a new stupid question ->", "/ask", class: "callout" %></p>

<div class="alert alert-info">
    <p>- <%= @ask %><br>
    ____You
    </p>
</div>

<div class="alert alert-info">
    <p>- <%= @answer %><br>
    ____Your coach
    </p>
</div>
